<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
    display: flex;
    flex-direction: column; /* Flexbox to push the footer down */
}

.footer {
    width: 100%;
    height: 10vh;
    background-color: rgb(159, 250, 159);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative; /* Default to relative positioning */
    margin-top: auto; /* Push the footer to the bottom of the page */
    z-index: 100;
}

.footer footer {
    width: 99%;
    height: 100%;
    background-color: rgb(10, 10, 9);
    padding: 30px;
    text-align: center;
}

.footer h4 {
    color: white;
}

/* For small devices, ensure footer is at the bottom */
@media (max-width: 700px) {
    .footer {
        position: sticky;
        bottom: 0;
        margin-top: auto;
    }
}

@media (max-width: 489px) {
    .footer {
        position: sticky;
        bottom: 0;
        margin-top: auto;
    }
}
</style>

<body>
    <div class="footer">
         <footer>
                <h4>ConnectPlus999@gmail.com</h4>
         </footer>
    </div>
   
</body>